<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jsptest</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">1234</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<!--<property name="format_sql">true</property> -->
<!-- 		<property name="hbm2ddl.auto">create-drop</property> -->
<!-- 		<mapping class="com.hibernate.annotation.entity.Employee"/> -->
<!-- 		 <mapping class="com.hibernate.annotation.entity.Department"/> -->
<!-- 		<property name="hbm2ddl.auto">update</property> -->

<!-- 		<mapping resource="mapping/Student.hbm.xml" /> -->

		<!-- <mapping class="com.hibernate.annotation.entity.Student"/> <mapping 
			class="com.hibernate.annotation.entity.Course"/> <mapping class="com.hibernate.annotation.entity.Address"/> 
			<mapping class="com.hibernate.annotation.entity.StudentInformation"/> <mapping 
			class="com.hibernate.annotation.entity.Employee"/> <mapping class="com.hibernate.annotation.entity.Account"/> -->


		<!-- For XML Mapping Style -->
		<!-- <mapping resource="mapping/Stock.hbm.xml"/> <mapping resource="mapping/Employee.hbm.xml"/> 
			<mapping resource="mapping/Student.hbm.xml"/> <mapping resource="mapping/Course.hbm.xml"/> 
			<mapping resource="mapping/Category.hbm.xml"/> -->

	</session-factory>
</hibernate-configuration>